# Maven
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Logs
*.log
logs/

# Environment / Secrets
.env
.env.*
application-local.yml
application-dev.yml
application-secret.yml
**/*secret*

# Spring Boot
*.pid
*.lock

# IDE - IntelliJ
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# OS
.DS_Store
Thumbs.db